:root {
    --primary-color: #FF5A3C;
    --primary-hover: #e04f35;
    --primary-light-color: rgba(255, 90, 60, 0.1);
    --dark-color: #0F0F1A;
    --text-color: #1F2937;
    --light-color: #6B7280;
    --light-border-color: #D1D5DB;
}